/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

.protected-container {
  padding: 20px;
  text-align: center;
}

.navbar {
  background-color: #4B0082;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
